*{
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(104, 104, 104);
}

body {
  margin: 10px 100px;
  overflow: hidden;
}
button{
  all: unset;
  text-transform: uppercase;
  font-size: 14px;
}
button:hover{
  color: rgb(216, 95, 19);
  /* text bold */
  
}
.container {
  display: grid;
  grid-template-columns: [col1] 170px [col2] 170px [col3]800px [col4]auto;
  grid-template-rows: [row1] 80px [row2] 40px [row3] 570px [row4] 10px;
  grid-column-gap: 20px; /* Odstępy między kolumnami */
  grid-row-gap: 20px;    /* Odstępy między wierszami */
}

h1 {
  grid-area: row1 / col1 / row1 / col3;
  /* font-weight: normal; */
  font-size: 24px;
}

#catalogue {
  grid-column: col4;
  grid-row: row1;
}
#commentBtn {
  grid-column: col1;
  grid-row: row2;
}
#flipImg {
  grid-column: col3;
  grid-row: row2;
}
#comment {
  grid-column: col1/col3;
  grid-row: row3;
  font-size: 12px;
  color: #9b9b9b;
}
#pic {
  grid-column: col3 / col4;
  grid-row: row3;
  max-height: 570px;
  max-width: 800px;
  /* position: fixed;
  pointer-events: none; */
}
#bioBtn {
  grid-column: col1;
  grid-row: row4;
}
#contactBtn {
  grid-column: col2;
  grid-row: row4;
}
.mediaBox {
  grid-column: col4;
  grid-row: row4;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}